/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
/*--General rules--*/
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
/*--Heading--*/
header{
    text-align: center;
}
header h1 {
    color: rgb(6, 7, 10);
    background-color: rgb(237, 108, 41);
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px rgb(6, 7, 10);
}
header h1:hover{
    color: rgb(245, 245, 12);
}
/*--Main--*/
main{
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    background-image: url("../images/hero-orangeDodge.avf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 43px;
    align-items: center;
    justify-content: center;
}
/*--404 error container--*/
.error-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
/*--Eror note--*/
.error-box {
    background-color: rgba(238, 124, 62, 0.884);
    margin-top: 50px;
    align-items: center;
}
/*--Welcome box--*/
.welcome-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(238, 124, 62, 0.884);
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    width: 80vw;
    position: absolute;
    transition: all 1s ease;
}
/*--Use this rules by JavaScript to show up the welcome box--*/
.activeWelcomeLoad{
    opacity: 1;
    pointer-events:fill;
    z-index: auto;
 }
/*--Style the contents insde the welcome box--*/
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1 1 auto;
}
/*--Note list in welcome bob--*/
.note-list {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    list-style-type: none;
}
/*--Start button--*/
#start-btn {
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 0; 
    cursor: pointer;
    width: 120px;
    padding: 5px;
    margin: 10px;
}
#start-btn:hover {
    color: yellow;
  
}

/*--Quiz section--*/
.quiz-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    background-color: rgba(238, 124, 62, 0.884);
    padding: 10px;
    margin: 100px 50px;
    line-height: 1.5;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    width: 90vw;
}
#quiz-heading{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
}
/*--To show the time in the quiz section--*/
#quiz-heading span {
    margin-top: 5px;
    color:#fff;
    background-color: black;
    padding: 5px 17px;
    font-size: 17px;
    border-radius: 10px;
}
.quiz-box h2 {
   color: black;
}
/*--To show quiz section up in the website after start button clicked--*/
.activeQuiz{
    opacity: 1;
    pointer-events: fill;
    z-index: 3;
}
/*--Style the question in the quiz section--*/
#question-line{
    margin-top: 5px;
    margin-bottom: 8px;
    color: black;
    font-weight: 400;
    font-size: medium;
}
/*--Style the answer buttons--*/
.btn{
    background-color: #fff;
    width: 70%;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    border: 0;
    margin-bottom: 10px;
    padding: 5px;
    font-size: small;
}
/*--These two class selector will add to the html elements when the user click on a correct answer--*/
.correct{
    background-color: green;
}
/*--These two class selector will add to the html elements when the user click on a incorrect answer--*/
.incorrect{
    background-color: red;
}
/*--Next button styles in quiz section--*/
#next-btn {
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 10px;
    border: 0;
    background-color:black;
    color: #fff;
    font-size: 17px;
    display: none;
    cursor: pointer;
    width: 100px;
}
/*--When next button get hover ob it--*/
#next-btn:hover{
    color: yellow;
}
/*--This hover works when the button is not disabled, because we added disabled attribute by js to the buttons when user selected a button */
.btn:hover:not([disabled]){
    background-color: #464f48;
}
/*--The user can click on buttons after this style apply to the answer buttons--*/
.btn:disabled{
    cursor: no-drop;
}
/*--Footer--*/
footer {
    background-color: rgb(237, 108, 41);
    width: 100%;
}
/*--Style the icons in the footer--*/
#social-networks{
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 200%;
    padding: 5%;
    color:rgb(6, 7, 10);
}
/*--When hover the mouse on the icons in the footer--*/
#social-networks i:hover {
    color:rgb(245, 245, 12);
}
/*--Make the web page responsive to the bigger screens so make the most element bigger--*/
@media (min-width: 768px){
/*--In the big screens heading gets wider--*/
header h1 {
    padding: 10px;
}
/*--When screen gets big main section still has gap between heading and main--*/
main {
    margin-top: 64px;
}
/*--Welcome box*/
.welcome-box {
    width: 45vw;
}
/*--The footer gets wider--*/
footer {
    padding: 8px;
}
/*--To make next button bigger--*/
#next-btn {
    width: 150px;
}
/*--To show the timer section bigger with more border redius--*/
#quiz-heading span {
    padding: 5px 30px;
    border-radius: 15px;
}
/*--Change the width ofthe question section--*/
.quiz-box {
    width: 60vw;
}
/*--Contents in the welcome box get large font size with more line height between the lines--*/
.content-box p {
    font-size: large;
    line-height: 1.7;
}
/*--Change the question font size--*/
#question-line{
    font-size: 20px;
}
/*--Answer buttons get changes in the bigger screens--*/
.btn {
    padding: 10px;
    font-size: 17px;
}
.note-list{
    font-size: large;
}
}